<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
<script type="text/javascript" src="static/js/handlebars.js"></script>
<script type="text/javascript" src="static/js/md5.js"></script>
<script type="text/javascript" src="static/js/select2/select2.js"></script>

{% extends 'base.html' %}

{% block content %}

<script type="text/javascript" src="static/js/book_list.js"></script>
{% if user.is_authenticated %}

    <div class="alert alert-success welcome">
       <a class="close" href="#" data-dismiss="alert">×</a>
       <strong>Welcome, {{user.username}}!</strong>
          {{ message }}
    </div>
      {% else %}
          <p>Welcome, new user. Please log in.</p>
          {% endif %}

<nav class="navbar navbar-default" role="navigation">
	<form class="navbar-form"  role="search">
    <div class="form-group pull-left">
      <input type="text" class="form-control search_bar" placeholder="Search">
    </div>
  </form>
  <div class="tag_bar control">
  </div>
  </nav>
<div class="book_list">
</div>
{% endblock %}
