<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
<script type="text/javascript" src="static/js/handlebars.js"></script>
<script type="text/javascript" src="static/js/select2/select2.js"></script>

{% extends 'base.html' %}

{% block content %}

<script type="text/javascript" src="static/js/book_list.js"></script>

<div style="height:51px"></div>
<nav class="navbar navbar-default" role="navigation">
	<form class="navbar-form"  role="search">
    <div class="form-group pull-left">
      <input type="text" class="form-control search_bar" placeholder="Search">
    </div>
  </form>
  <div class="tag_bar control">
  </div>
</nav>
<div class="book_list">
</div>
{% endblock %}
