{% extends "base.html" %}

{% block content %}
<div class="center">
    <h3> Jois us </h3>
    <form method="post" action>
        {% csrf_token %}
          <table>
            {% for field in form %}
            <tr><td>{{field.label_tag}}</td><td>{{field}}</td></tr>
            {% endfor %}
        </table>

        <button type="submit" class="btn">Join!</button>
    </form>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    {% else %}
       <p>Welcome, new user. Please log in.</p>
    {% endif %}
    {% if form.errors %}
    {{form.errors}}
    {% endif %}
    Already registered? <a href="/login">Login</a>
</div>
{% endblock %}
